.App {
  padding: 20px;
}

.header {
  color: #363232;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px 45px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
  font-size: 46px;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
}

.last-updated {
  margin: 0;
  color: #A99F9F;
  font-weight: 600;
}

.price {
  font-size: 60px;
  font-weight: 500;
  margin: 0;
}

.change {
  margin: 0;
  color: #75AD4A;
  font-size: 25px;
  font-weight: 600;
  font-weight: 600;
}

.right-container {
  position: relative;
  padding: 0 50px 20px 35px;
}

.change-abolute {
  position: absolute;
  left: 0;
  bottom: 0;
}

.change-percent {
  position: absolute;
  right: 0;
  bottom: 0;
}

.triangle-icon {
  color: #75AD4A;
  font-size: 25px;
  position: absolute;
  left:0;
  top: 20%;
}

